#logo {
  font-family: 'GmarketSansBold';
  display: flex;
}

.logo-first {
  font-size: 130px;
}

.logo-second {
  font-size: 88px;
}

.devil {
  margin-left: 13px;
  object-fit: contain;
  width: 100px;
  height: 90px;
}

.dots img {

  object-fit: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 45px;
  margin-bottom: 15px;

}

.dots img:last-child {
  margin-left: 65px;
}


.logo-small .logo-first {
  font-size: 53px;
}
.logo-small .logo-second {
  font-size: 40px;
}
.logo-small .devil {
  width: 65px;
  height: 45px;
  margin-left: -3px;

}

.logo-small img:not(.devil) {
  margin-left: 10px;
  margin-bottom: -9px;
  width: 28px;
  height: 28px;
}

.logo-small img:first-child{
  margin-right: 10px;
}


