
.posts {
  width: 320px;
  height: 380px;
  background-color: white;
  border-radius: 7px;



}

.posts-img {
  object-fit:fill;
  width: 320px;
  height: 168px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;


}

.posts-info_user_img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
  padding-right: 10px;
}

.posts-info_heart{
  width: 12px;
  height: 12px;
  object-fit: contain;
  padding-right: 7px;


}
.contents-title {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 13px;

}

.posts-contents {
  padding: 13px 15px;
  display: flex;
  flex-direction: column;
}

.posts-info_hearts{
  display: flex;
  align-items: center;
  font-size: 12px;
}

.posts-info{
  display: flex;
  justify-content:space-between;
  margin-bottom: 5px;
}
.posts-contents_top {
  height: 110px;
}

.contents-detail {
  font-weight: lighter;
  font-size: 13.7px;
  padding-bottom: 15px;
}

.posts-contents_bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80px;

}

.posts-info_user {
  display: flex;
  align-items: center;
  font-size: 11px;
}

.posts-nickname {
  font-weight: bold;
  padding-left: 5px;
}

.posts-date{
  font-weight: lighter;
  font-size: 11px;
  padding-bottom: 13px;
  color: var(--color-black70);
}

.posts-line {
  border:1px solid rgba(0, 0, 0, 0.25);
  border-bottom: none;
  margin-bottom: 13px;
}


/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */


@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }


}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);

  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);


  }


}

.posts:not(:hover){
  animation: slide-bottom 0.5s ease-in-out both;
}

.posts:hover {
  animation: slide-top 0.5s ease-in-out both;
}



.board__content {
 border: 1px solid rgba(0, 0, 0, 0.25);
 padding: 30px;
  margin: 100px;
  position: relative;
  top: 10px;
  width: 230px;
  height: 250px;
  background-color: white;
  border-radius: 7px;
}

.board__content:first-child {

  position: absolute;
  top: -90px;
  left: -60px;
}

.board__content:nth-child(2) {

  position: absolute;
  top: -90px;
  left: 250px;
}

.board__content:nth-child(3){

  position: absolute;
  top: -90px;
  left: 580px;

}
.board__content:nth-child(4){

  position: absolute;
  top: -90px;
  left: 910px;

}

.board__content:nth-child(5){

  position: absolute;
  top: 250px;
  left: -60px;

}

.board__content:nth-child(6){

  position: absolute;
  top: 250px;
  left: 250px;

}

.board__content:nth-child(7){

  position: absolute;
  top: 250px;
  left: 580px;

}

.board__content:nth-child(8){

  position: absolute;
  top: 250px;
  left: 910px;

}


.board__content a {

  font-weight: bold;
  font-size: 20px;

}





.board__content-column {

  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items:center;
}

.board__content-column:nth-child(2){
  background-color:rgb(240, 240, 240);
  border-radius: 15px;
  padding: 17px;
  box-sizing: border-box;
  margin-left: -5px;
  width: 243px;
  height: 170px;
  display: flex;
  align-items: flex-start;

}



.board__content-column:nth-child(3) {

  font-size: 14px;
  font-size: 12px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.55);
}
.board__content-column:nth-child(4) {

  font-size: 14px;
}

